---
layout: default
title: Testing
seo:
  title:
  meta-description:
  meta-keywords:
  featured-image_path:
  hide-from-google: false
banner_image: >-
 https://picsum.photos/id/684/600/400  
description_html: Text content block
video_type: youtube
youtube_id: uIsg5x19Xu8
vimeo_id: 677973953
video_poster: 
embedded: 
  - video_path: /path/to/video.mp4
    file_type: mp4
  - video_path: /path/to/video.webm
    file_type: webm
gallery_columns: 3
gallery:
 - column_width: 1
   aspect_ratio: square
   gallery_image: >-
    https://picsum.photos/id/684/600/400
 - column_width: 1
   aspect_ratio: square
   gallery_image: >-
    https://picsum.photos/id/684/600/400  
 - column_width: 1
   aspect_ratio: square
   gallery_image: >-
    https://picsum.photos/id/684/600/400  
 - column_width: 1
   aspect_ratio: square
   gallery_image: >-
    https://picsum.photos/id/684/600/400  
 - column_width: 1
   aspect_ratio: square
   gallery_image: >-
    https://picsum.photos/id/684/600/400  
 - column_width: 1
   aspect_ratio: square
   gallery_image: >-
    https://picsum.photos/id/684/600/400      
columns:
  - type: text
  - type: image       
---

<!-- Image banner -->
    <section style="background-image: url('{{page.banner_image}}')" class="min-h-screen bg-cover bg-center text-white flex items-center justify-center">
        <h2>I'm an image banner</h2>
    </section>



<!-- Text content block -->

<section>
  <div>
    {{page.description_html}}
  </div>
</section>

<!-- Youtube embed -->

<section class="min-h-screen">
  {% if page.video_type == 'youtube' %}
    <div class="plyr__video-embed relative" id="player">
        <iframe
        src="https://www.youtube.com/embed/{{page.youtube_id}}?origin=https://plyr.io&amp;autoplay=1&amp;loop=1&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        allow="autoplay"
        ></iframe>
    </div>

<!-- Vimeo embed -->
{% elsif page.video_type == 'vimeo' %}
    <div class="plyr__video-embed relative" id="player">
        <iframe
          src="https://player.vimeo.com/video/{{page.vimeo_id}}?muted=1&amp;autoplay=1&amp;loop=true&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
      </div>

<!-- HTML5 embed -->

{% elsif page.video_type == 'embedded' %}
<video id="player" playsinline controls autoplay muted autobuffer="true" preload="auto" loop data-poster="{{page.video.poster}}">
  {% for item in page.video.embedded %}

    <source src="{{item.video_path}}" type="video/{{item.file_type}}" />

  {% endfor %}
    <!-- Captions are optional -->
    <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
  </video>
  {% endif %}
</section>


  <!-- Gallery block -->

  <div class="grid grid-cols-{{page.gallery_columns}} gap-2">
		{% for item in page.gallery %}
		    <div class="col-span-{{item.column_width}}">
		      <div class="bg-center bg-cover {{item.aspect_ratio}}" style="background-image: url('{{item.gallery_image}}')"></div>
		    </div>

		{% endfor %}
</div>


<!-- CTA -->

<section class="p-5 flex">
    <div class="flex-col items-center justify-start">
      <h3 class="editable">Free month if you sign up this month</h3>
      <p class="editable">Join now for a big discount</p>
      <a href="#" class="editable">Subscribe now</a>
    </div>
</section>

<!-- Image with text -->




<!-- Slider block -->


<!-- Newsletter sign up -->