<header class="p-5">
    <nav class="flex justify-around">
        <a href="/" class="link link-underline link-underline-black">Home</a>
        <a href="#" class="link link-underline link-underline-black">Travel</a>
        <a href="#" class="link link-underline link-underline-black">Wellness</a>
        <a href="#" class="link link-underline link-underline-black">Beauty</a>
        <a href="#" class="link link-underline link-underline-black">Food</a>
        <a href="#" class="link link-underline link-underline-black">Lifestyle</a>
        <a href="/search" class="link link-underline link-underline-black">Search</a>
    </nav>
</header>