<section class="grid md:grid-cols-{{block.grid_width}} {{block.section_styles}} min-h-screen">

    {% for item in block.columns %}

    {% if item._type == 'image' %}

    <div class="col-span-{{item.column_width}}">
        <img src="{{item.image}}" class="object-cover object-center">
    </div>

    {% elsif item._type == 'text' %}

    <div class="col-span-{{item.column_width}}">
        {{item.description_html}}
    </div>

    {% elsif item._type == 'video' %}

    <div  class="col-span-{{item.column_width}}">
        <p>VIDEO</p>
    </div>

    {% endif %}

    {% endfor %}

</section>