<section class="grid md:grid-cols-{{block.column_count}} min-h-screen">

    {% for item in block.columns %}

    {% if item.type == 'image' %}

    <div class="col-span-{{item.column_width}}">
        <img src="{{item.image}}" class="object-cover object-center min-h-full">
    </div>

    {% elsif %}

    <div class="col-span-{{item.column_width}}">
        {{item.description_html}}
    </div>

    {% elsif %}

    <div  class="col-span-{{item.column_width}}">
        <p>VIDEO</p>
    </div>

    {% endif %}

    {% endfor %}

</section>